.opc { list-style:none; margin:0; padding:10px 10px 0; }

.opc p.required { font-size:10px; line-height:12px; margin:10px 0 0; text-align:right; }
.opc .back-link { display:none; }
.opc .v-middle { vertical-align:middle; }
.opc .please-wait { display:block; font-size:12px; padding:10px; text-align:center; }

.opc .step-title { background:url(../images/bg_gradient.png) repeat-x center #7f7f7f; color:#fff; height:30px; line-height:30px; padding:5px 8px; }
.opc .step-title h2 { font-size:15px; font-weight:bold; }
.opc .step-title .number { display:none; }

.opc .step { background-color:#fff !important; padding:10px; position:relative; }
.opc .step .form-list { margin:0 0 15px; }

.opc .section { margin:0 0 10px; opacity:.5; }
.opc .section.allow.active { opacity:1; }
.opc .section.allow        .step-title h2:before {
  background:rgba(0, 0, 0, .5);
  border-radius:5px;
  content:'+';
  font-family:Arial;
  display:inline-block;
  line-height:15px;
  padding:5px 0;
  text-align:center;
  margin:2px 5px 0 0;
  vertical-align:top;
  width:20px;
}
.opc .section.allow.active .step-title h2:before { display:none; }

.checkout-onepage-payment-additional-giftcardaccount { margin:15px 0; }

#checkout-step-login h4 { color:#424242; margin:0 0 10px; }
#checkout-step-login p { font-size:14px; margin:0 0 10px; }

.opc .sp-methods > dt { color:#424242; font-size:15px; font-weight:bold; line-height:18px; margin:0 0 10px; }

.opc .tool-tip { background:#fff; position:absolute; padding:10px; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5); }
.opc .tool-tip .btn-close { padding:0 0 15px 0; text-align:right; font-size:13px; }
.opc .tool-tip .btn-close a { color:#DF2327; }
.opc .tool-tip .tool-tip-content img { width:100%; }

.opc .cvv-what-is-this { border-bottom:1px dashed; display:inline-block; margin:5px 5px 0; font-size:13px; vertical-align:top; }

.opc li:last-child .step { padding:0; }

#checkoutSteps li .step .input-box .v-fix { display:inline-block; width:49%; }
#checkoutSteps li .step .input-box .v-fix .year { width:auto; }

.tool-tip .btn-close { padding:0 0 5px 0; text-align:right; font-size:13px; }
.tool-tip .btn-close a { color:#DF2327; }
.tool-tip .tool-tip-content img { width:100%; }

.opc .order-review .data-table { font-size:13px; border-spacing:0; border-collapse:collapse; margin:0 0 15px; width:100%; }
.opc .order-review .data-table thead tr,
.opc .order-review .data-table tbody tr:first-child { text-align:left; }
.opc .order-review .data-table tbody tr:last-child td:last-child { font-weight:bold; }
.opc .order-review .data-table th { text-align:left; }
.opc .order-review .data-table th:last-child { float:right; }
.opc .order-review .data-table th,
.opc .order-review .data-table td { padding:5px; }
.opc .order-review .data-table tfoot { background:#eee; }
.opc .order-review .data-table tfoot th { font-weight:normal; text-align:right; }
.opc .order-review .data-table tfoot th .btn-remove { height:20px; width:20px; vertical-align:bottom; }
.opc .order-review .data-table tfoot th .btn-remove img { display:none; }
.opc .order-review .data-table .product-name { color:#424242; }
.opc .order-review .data-table .item-options { font-size:12px; margin:10px 0 0; }

.checkout-review-table { padding:0; }

.opc .order-review .buttons-set > p { margin:15px 0; }

#checkoutSteps #customerbalance_placer { padding:0 0 10px; }

.opc .add-gift-message,
.opc .gift-message-form { margin:10px 0 20px; }

.opc .gift-message-form .price,
.opc .gift-wrapping-form label { font-weight:bold; }
.opc .gift-wrapping-form label { color:#424242; }

.opc .gift-options-for-order { border:1px solid #e4e4e4; border-radius:2px; box-shadow:0 0 3px rgba(0, 0, 0, .15); margin:10px 0; padding:10px; }
.opc .gift-options-for-order div > a { display:inline-block; margin:10px 0 0; }
.opc .gift-options-for-order .fieldset { margin:10px 0 0; }

.opc .gift-wrapping-design { padding:10px 0 0; overflow:hidden; }
.opc .gift-wrapping-design .image-box { float:left; margin:0 10px 10px 0; }

.opc .add-gift-message  h3,
.opc .gift-message-form h4 { color:#424242; font-weight:bold; line-height:18px; margin:0 0 10px; }
.opc .gift-message-form p { margin:0 0 8px; }
.opc .gift-message-form ol { list-style:none; margin:0 0 10px; padding:0; }

.opc .gift-message-form .number { display:none; }
.opc .gift-message-form .product-image { margin:0 0 2px; }
.opc .gift-message-form .product-image img {}
.opc .gift-message-form .product-img-box { float:left; margin-right:10px; }

.opc .gift-message-form .gift-item:after { content:""; clear:both; display:table; }
.opc .gift-message-form .form-list { clear:both; margin:0; }

.opc .gift-item { border:1px solid #e4e4e4; border-radius:2px; box-shadow:0 0 3px rgba(0, 0, 0, .15); margin:0 0 10px; padding:0; }
.opc .gift-item .product-name { color:#424242; }
.opc .gift-item .fieldset { padding:10px; }
.opc .gift-item .product-img-box { float:none; padding:10px; text-align:center; }
.opc .gift-item .options-items-container + p { margin:5px 0; }

.extra-options-container { clear:both; }

.opc .checkout-agreements { border:1px solid #e4e4e4; list-style:none; padding:10px; }
.opc .checkout-agreements .agree { font-weight:bold; margin:10px 0 0; text-align:center; }
.opc .checkout-agreements .agree input,
.opc .checkout-agreements .agree label { margin-right:10px; vertical-align:middle; }
