
.price-box .price-including-tax,
.price-box .price-excluding-tax { display: block; }

.price-box .price-including-tax .price { font-weight: bold; }

.product-view {
  .product-name h1 { color: #424242; font-size: 18px; font-weight: bold; text-align: left; line-height: 20px; margin: 0 0 9px; }
  .product-image { position: relative;
    li { text-align: center; }
    li a { display: block; }
  }
  .product-image-wrap { padding: 10px; position: relative;
    img { position: relative;
      &.cloned { position: absolute; top: 10px; left: 50%; margin: 0 0 0 -72px; @include transition(all ease-in 400ms); }
      &.animate { z-index: 101; }
    }
  }
  .product-shop { padding: 15px;
    .buttons-set { margin: 10px 0 0; }
    .product-main-info {
      .price-box { color: #424242; font-size: 18px; line-height: 26px; }
      .price-box-bundle .price-box { }
      .item-options { margin: 10px 0 0; }
      .item-options dt { color: #424242; font-style: 15px; font-weight: bold; }
      + .options-container-small { margin: 15px 0 0; }
    }
    .availability { color: #424242; font-size: 13px; font-weight: bold; margin: 0 0 9px;
      span { font-weight: normal; }
    }
    .tier-prices { margin: 10px 0; }

    .add-to-box {
      .qty,
      label { display: none; }
    }
  }
  .price-box {
    .price-label { vertical-align: baseline; }
    .old-price { color: #ccc; }
    .special-price .price-label { color: #222; }
    .special-price .price { font-weight: bold; }
  }
  .add-to-cart {
    label[for="qty"],
    input.qty { display: none; }
  }
  .product-img-box {
    .product-image:before { background: url(../images/i_zoom.png) no-repeat 0 0; content: ''; display: block; position: absolute; top: 15px; right: 25px; height: 14px; width: 14px; }
    .controls {
      .prev,
      .next { height: auto; top: 40px; bottom: 40px; width: auto; z-index: 101; }
      .prev { left: 0; right: 80%; }
      .next { left: 80%; right: 0; }
    }
  }
  .short-description { margin: 0; padding: 15px; }
  .product-add-to { padding: 0 15px 15px; }
}

.send-to-friend .buttons-set { padding: 0 15px 15px;
  button + button,
  .back-link span { margin: 10px 0 0; }
  .back-link span { display: block; }
}

.product-collateral { clear: both;
  .box-collateral { padding: 15px; }

  .box-additional { background: none; padding: 0;
    h2 { display: none; }
    .data-table { color: #424242; border-collapse: collapse; width: 100%;
      th,
      td { padding: 15px; text-align: left !important; vertical-align: top; }
      th { font-weight: bold; }
    }
  }
}

.rating-box { background: url(../images/i_star_blank.png) repeat-x center left; height: 18px; width: 100px;
  .rating { height: 18px; background: url(../images/i_star.png) repeat-x center left; }
}

.product-view {
  .rating-box { margin: 0 0 10px; }
  .rating-links { color: #666; text-align: right;
    a { display: inline-block; text-decoration: underline; }
    a:first-child { float: left; margin-right: 10px; }
    .separator { display: none; }
  }
  .box-description .std { margin: 0; }
  .product-shop .add-to-box button,
  .product-options-bottom .add-to-cart button { background: url(../images/bg_gradient.png) repeat-x 0 0 #1394ca; color: #fff; font-size: 24px; display: block; border: 0; height: 45px; line-height: 45px; margin: 15px 0 0; padding: 0; @include appearance(none); text-shadow: 0 -1px 0 rgba(0, 0, 0, .45); width: 100%; }
  .product-options-bottom .add-to-cart + .add-to-links { margin: 10px 0 0; }
  .product-options-bottom .add-to-cart + .add-to-links li:first-child a { width: 100%; }
}

.paypal-logo { text-align: center; }

.paypal-or { display: block; padding: 10px 0; text-align: center; }

/* Carousel */

.carousel-wrap {
  li { display: inline-block; vertical-align: top; white-space: normal; }
  .box-title { max-width: 80%; }
  .ratings { display: none; }
  .carousel-items { white-space: nowrap; -webkit-transition: all 150ms linear; -moz-transition: all 250ms linear; -o-transition: all 250ms linear; transition: all 250ms linear; }
  .carousel-items-wrap { overflow: hidden; }
}

@media all and (-webkit-transform-3d) {
  .carousel-wrap .carousel-items { -webkit-transform: translateX(0); -webkit-perspective: 1000; -webkit-backface-visibility: hidden; }
}

.box-up-sell { position: relative; padding: 15px;
  h2 { color: #424242; font-size: 18px; font-weight: bold; line-height: 25px; margin: 0 0 10px; }
  .item { color: #424242; font-size: 15px; line-height: 18px;
    a { color: #424242; }
    h3 { max-height: 36px; margin: 0 0 5px; overflow: hidden; text-overflow: ellipsis; width: 100%; }
    img { margin: 0 0 5px; }
  }
  .price-box .price { font-weight: bold; }
  .product-image { }
  .controls { background: url(../images/bg_divider_dark.png) no-repeat center; position: absolute; top: 15px; right: 15px; height: 24px; width: 49px; }
}

.controls {
  .prev,
  .next { display: block; position: absolute; top: 0; right: 0; height: 24px; width: 24px; }
  .prev { background: url(../images/arrow_left.png) no-repeat center; }
  .next { background: url(../images/arrow_right.png) no-repeat center; }
  .prev.disabled,
  .next.disabled { opacity: .25; }
  .prev { right: 25px; }
}

.counter { padding: 5px 0 0; text-align: center;
  span { margin: 0 2px; }
  span:before { content: '\2022'; color: #ddd; font-size: 20px; display: inline-block; -webkit-text-stroke: 1px #ddd; }
  span.active:before { color: #fff; }
}

.product-shop .grouped-items-table { border: none; border-spacing: 0; font-size: 15px; margin: 0; -webkit-border-radius: 0; width: 100%;
  th,
  td { padding: 5px 0; }
  th { display: none; }
  td { background: none; border: none; border-bottom: 1px solid #e4e4e4; text-align: left; vertical-align: middle; }
  tr:last-child td { border-bottom: none; }
  input.qty { text-align: center; width: 40px; }
}

/* ------------ */

.product-view .box-tags { padding: 15px;
  a { display: inline-block; font-weight: bold; }
  li { display: inline; margin-right: 10px; }
  h2 { color: #424242; font-size: 18px; font-weight: bold; margin: 0 0 10px; }
}

.product-view .box-tags h3,
.product-view .form-add-tags { display: none; }

/* ------------ */

.add-to-links { display: table; font-size: 12px; margin: 0; position: relative; width: 100%; text-align: center;
  > li { display: table-cell; text-align: center; line-height: 1; vertical-align: top; }
  > li > a,
  > li .split-button strong { background: url(../images/bg_gradient.png) repeat-x 0 0 #1394ca; background-size: auto 30px; color: #fff; display: inline-block; font-weight: normal; height: 30px; line-height: 30px; text-shadow: 0 -1px 0 rgba(0, 0, 0, .45); width: 99.5%; }
  > li .split-button {
    strong + a { display: block; height: 30px; margin: 0 0 -30px; position: relative; top: -30px; overflow: hidden; text-indent: -200%; }
    &.active .list-container { display: block; }
    .list-container { border: 1px solid #e4e4e4; display: none; position: absolute; top: 0; left: 0; text-align: left;
      li { background: #fff; border-bottom: 1px solid #e4e4e4; height: 30px; line-height: 30px; padding: 0 10px; box-shadow: 0 0 3px rgba(0, 0, 0, .15); }
      li:last-child { border: none; }
      .new { background: #e4e4e4; color: #424242; text-shadow: 0 1px 0 #fff; }
      .new:before { content: '+'; display: inline-block; margin-right: 5px; }
    }
  }
  .separator { display: none; }
}

.product-view {
  .options-container-big {
    .product-options { padding: 15px; }
    .product-options-bottom { padding: 0 15px 15px; }
  }
  .options-container-small {
    .product-options { }
    .product-options-bottom .price-box,
    .product-options-bottom .price-box { display: none; }
  }
}

.product-view .product-options {
  dt { margin: 0 0 10px; }
  dt label { color: #424242; font-size: 15px; font-weight: bold; }
  dt label em { color: #f9721f; margin-right: 5px; }
  dd { font-size: 14px; border-bottom: 1px solid #ccc; padding: 0 0 15px; }
  dd + dt { padding: 15px 0 0; }
  dd:last-child { border: none; padding: 0; }
  dd:last-child .input-box { margin: 0; }
  select { width: 100%; }
  input.qty { width: 20%; }
  input.qty:disabled { background: #f5f5f5; }
  .input-box { margin: 0 0 10px; }
  .qty-holder { display: block; margin: 5px 0 0;
    label,
    label + input { vertical-align: middle; }
  }
  .options-list {
    li { margin: 0 0 8px; }
    li:last-child { margin: 0; }
    input,
    input + label,
    input + .label { vertical-align: middle; }
    input { float: left; margin-right: 10px; }
    input + label,
    input + .label { display: table; }
    a { text-decoration: underline; }
  }
}

.giftcard-send-form { padding: 15px 0 0;
  em { color: #f9721f; }
  label { color: #424242; display: block; font-size: 15px; font-weight: bold; }
  .gift-card-amount-field { padding: 0; }
}

.giftcard-amount-form .notice { padding: 5px 0 10px; text-align: right;
  span { float: left; font-size: 12px; display: block; }
  span:last-child { float: none; }
}

.product-view .product-options-bottom {
  .required { font-size: 10px; line-height: 12px; margin: 10px 0 0; text-align: right; }
  .price-box { color: #424242; font-size: 18px; line-height: 24px; }
}

.catalog-product-gallery {
  .buttons-set { padding: 10px;
    a { text-align: center; }
  }
  .product-gallery { background-color: #fff !important; padding: 10px 0 0; position: relative; overflow: hidden; height: 300px; width: 100%;
    .prev,
    .next { background-color: #fff; background-position: center; border: 1px solid #e4e4e4; border-radius: 100%; box-shadow: 0 0 3px rgba(0, 0, 0, .15); top: 50%; z-index: 101; }
    .prev { right: 80%; }
    .next { left: 80%; }
    ul { display: table; width: 200%; }
    li { display: table-cell; padding: 0; text-align: center; overflow: hidden; max-width: 100%; }
    li img { vertical-align: bottom; }
  }
}