.footer-before-container { margin: 0 0 3px; text-align: center; }

.form-subscribe-header { color: #d12c01; font-size: 11px; font-weight: bold; text-decoration: none; text-transform: uppercase; }

.form-subscribe { float: left; width: 183px; padding: 0 17px 0 0;
  label { display: block; margin: 6px 0; }
  input.input-text { width: 177px; display: block; }
  button.button { margin: 6px 0 0; float: right; }
  .validation-advice { width: 180px; }
  .v-fix { text-align: left; padding-right: 5px; }
  a { color: #777; }
}

.footer-container { margin: 0 0 20px; text-align: left; background: #f8f8f8; border: 1px solid #cfcfcf; padding: 14px 17px 12px; }

.footer { background: url(../images/bkg_footer.gif) repeat-y 200px 0;
  a { }
  a:hover { text-decoration: none; }
  ul,
  ul.links { display: block; float: left; width: 150px; margin: 0 0 0 19px; padding: 0; }
  ul.links li,
  ul li { display: block; vertical-align: top; margin: 0 0 5px; padding: 0; }
}

address.copyright { margin-top: 6px; }

.footer .switcher-store { float: right; width: 184px; background: url(../images/bkg_store-switch.gif) no-repeat 0 3px; padding-top: 21px;
  label { display: none; }
  select { padding: 0; margin-bottom: 1px; }
  ul { float: none; width: auto; padding-left: 0; margin-left: 0; }
  ul .current { display: none; }
}