/* BreadCrumbs */
.breadcrumbs { margin: 0; padding: 7px 20px 5px; background: #ededed url(../images/bkg_crumbs.gif) no-repeat 0 0; text-align: left;
  li { display: inline; }
  li span,
  a { color: #888; text-decoration: none; }
  a:hover { text-decoration: underline; }
}
