/* Form Elements */
input, select, textarea, button { font: $inputFont; color: $inputColor; vertical-align: middle; }

input.input-text, select, textarea {
  background: $inputBackground;
  border: $inputBorder;
  @if $inputBorderRadius != null {
    @include border-radius($inputBorderRadius);
  }
}

input.input-text, textarea { padding: 2px 2px; }

select { padding: 1px; }

select option { padding-right: 10px; }

select.multiselect option { padding: 2px 2px; }

select.multiselect option:last-child { border-top: 0; }

textarea { overflow: auto; resize: vertical; font: $textareaFont; }

textarea.default-value { color: $inputColor; }

input.radio,
input.checkbox { margin-right: 3px; font-size: 11px !important; margin-top: 2px; vertical-align: top; }

input.radio { font-size: 10px !important; }

input.qty { width: 2.5em !important; }

input.disabled { background: $inputBackgroundDisabled !important; color: $inputColorDisabled !important; }

/* Form Highlight */
/*input.input-text:focus,select:focus,textarea:focus {}*/
/*.highlight { background:#eee; }*/

/* Form Validation */
.validation-advice { clear: both; font-size: 11px !important; padding: 3px 0 0 !important; color: #d91a00 !important; }

.product-options .validation-error .options-list,
.validation-failed { border: 1px solid #f47d4e !important; background: #fff7f5 !important; }

input.input-text.validation-failed,
textarea.validation-failed { background: #fff7f5 url(../images/bkg_input-failed.gif) 0 0 repeat-x !important; }

span.validation-passed,
div.validation-passed { background: url(../images/icon_ok.gif) 100% 2px no-repeat; padding-right: 20px; }

span.validation-error,
div.validation-error { background: url(../images/icon_error.gif) 100% 2px no-repeat; padding-right: 20px; }

.required em { color: #f15c22; margin-right: 4px; }

p.required { margin: 0; padding: 5px 0 7px; text-align: right; width: 620px; font-size: 11px; color: #f02800; }

.form-list .validation-advice { width: 250px; margin-right: -250px; }

/* Expiration date and CVV number validation fix */
.v-fix { float: left;
  .validation-advice { display: block; width: 12em; margin-right: -12em; position: relative; }
}

/* Fieldset */
.fieldset { font-size: 12px; margin: 0 0 16px;
  p { margin: 0 0 1.5em; }
  h2.legend { margin: 0 0 1.5em; color: #000; }
}

/* Form lists */
.form-list {
  li { margin: 0 0 9px; vertical-align: top; }
  label { float: left; width: 225px; padding: 2px 15px 0 0; font-size: 12px; font-weight: bold; color: #444; text-align: right; }
  .value { float: left; padding: 2px 0 0; }
  .note { clear: both; font-size: 11px; width: 380px; margin: 0; padding: 3px 0 0 240px; }
  span.label { font-weight: normal; }
  .input-box { float: left; /* width:256px; */ }
  .input-box a { font-size: 11px; margin-top: 4px; }
  input.input-text,
  textarea { float: left; width: 374px; vertical-align: top; }
  textarea { width: 374px; height: 13em; }
  select { float: left; width: 380px; vertical-align: top; }
  p { margin: 0; padding: 0 0 0 240px; }
  .range input.input-text { float: none; width: 64px; vertical-align: middle; }
  .add-field .input-box { margin-left: 240px }
  .control { position: relative; vertical-align: top; z-index: 1; }
  /* row with checkbox or radio button */
  .control label { line-height: 16px; }
  .control .input-box { position: absolute; left: 0; margin-left: 240px; line-height: 16px; padding-top: 1px; }
  .control input.radio { margin-top: 3px; }
}

ul.add-row,
.form-list li.add-row { background: url(../images/bkg_dots.gif) repeat-x 0 0; margin-top: 15px; }

ul.add-row .btn-remove,
.form-list li.add-row .btn-remove { font-size: 0; line-height: 0; padding: 5px 5px 0 0; margin: 0; text-align: right; }

.form-alt {
  label { float: none; display: inline; width: auto; }
  li { margin: 0 0 5px; line-height: 16px; }
  select { width: 496px; }
  .input-box { width: 496px; margin-top: 5px; padding-bottom: 11px; }
  .input-text { width: 480px; }
}

.form-list-narrow {
  label { width: 105px; }
  select { width: 290px; }
  input.input-text,
  textarea { width: 285px; }
  .wide { width: auto; }
  .add-field .input-box { margin-left: 120px; }
  .control .input-box { margin-left: 120px; }
}

.inner-form {
  margin: 10px 0 5px; padding: 10px 0 0; border: 1px dashed #d1d1d1; border-width: 1px; background: #f7f7f7;
  .form-alt label { padding-left: 5px; }
}

/* Date Of Birth */
.form-list .customer-dob {
  label { float: none; width: auto; padding: 0; font-size: 11px; font-weight: normal; color: #777; }
  .input-box { float: left; width: auto; margin-right: 8px; }
  .input-box .validation-advice { display: none !important; }
  input.input-text { float: none; display: block; margin-bottom: 2px; }
  .dob-day,
  .dob-month,
  .dob-year { float: left; margin-right: 8px; padding-right: 0 !important; background: none !important;
    &.validation-advice {
      display: none;
    }
  }
  .dob-day input.input-text { width: 104px; }
  .dob-month input.input-text { width: 104px; }
  .dob-year { margin-right: 0; }
  .dob-year input.input-text { width: 138px; }
}

/* Combination of fields */
.form-list li.fields {
  margin: 0;
  .field { clear: left; padding: 0 0 9px; }
}

/* Overrides for 3columns */
.col3-layout {
  .form-buttons p.back-link { width: 150px; }
  .form-list {
    .note { padding-left: 165px; width: 280px; }
    label { width: 150px; }
    input.input-text,
    textarea { width: 274px; }
    select { width: 280px; }
    .control .input-box { margin-left: 165px; }
    .customer-dob {
      .dob-day input.input-text { width: 74px; }
      .dob-month input.input-text { width: 74px; }
      .dob-year { margin-right: 0; }
      .dob-year input.input-text { width: 98px; }
    }
  }
  p.required,
  .form-buttons { width: 445px; }
}