
/* Links */
ul.links { display: inline;
  li { display:inline; }
  li .separator { margin:0 2px 0 5px; font-size:10px; color:#8f8f8f; }
  li.last .separator { display:none; }
}

/* Reward Points */
.rewards { margin:-10px 0 20px; }
.reward-message { display:block; margin:5px -15px 5px -15px; background:#d55721 url(../images/bkg_rewards.gif) 5px 3px no-repeat; padding:3px 5px 3px 32px; font:normal 12px/20px Arial, Helvetica, sans-serif; color:#fff;
  p { display:inline; margin:0 !important; }
  .limit { display:block; font-size:11px; line-height:1.15; }
  a { color:#ffe6dc; text-decoration:underline; }
  a:hover { color:#ffe6dc; text-decoration:none; }
  .price { font-size:1em; font-weight:normal; }
}

/* Reward Points types rewrites */
.reward-review,
.reward-tag,
.reward-checkout { margin:0; }

/* Misc */
.link-rss { background:url(../images/icon_rss.gif) 100% 1px no-repeat; padding-right:18px; white-space:nowrap; }
.link-rss:hover { color:#f58550; }
.link-print { background:url(../images/icon_printer.gif) 0 1px no-repeat; padding:2px 0 2px 25px; white-space:nowrap; }
.link-cart { font-size:11px; font-weight:bold; color:#c73615; text-decoration:underline; }
.link-cart:hover { color:#c73615; text-decoration:none; }

.data-table .btn-remove { display:block; margin:0 auto; width:13px; height:12px; font-size:0; line-height:0; background:url(../images/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; cursor:pointer; }
.data-table .btn-remove2 {}

.cards-list dt { margin:5px 0 0; }
.cards-list .offset { padding:2px 0 2px 20px; }

.divider { margin:16px 0; background:#e7e7e7; font-size:0; line-height:0; height:1px; overflow:hidden; }

/* Global site notices */
.global-site-notice { border:1px solid #cfcfcf; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f;
  .notice-inner { width:860px; margin:0 auto; padding:12px 0 12px 80px; background:url(../images/i_notice.gif) 20px 25px no-repeat; text-align:left; }
  .notice-inner p { margin:0; border:1px dotted #cccc73; padding:10px; }
  .notice-inner .actions { padding-top:10px; }
}

/* Cookie Notice */
.notice-cookie { }

/* Noscript Notice */
.noscript {}

/* Demo Notice */
.demo-notice { margin:0; padding:6px 10px; background:#d75f07; font-size:12px; line-height:1.15; border:0; text-align:center; color:#fff;
  .notice-inner { width:auto; padding:0; background:none; text-align:center; }
  .notice-inner p { padding:0; border:0; }
}

/* Content Styles ================================================================= */
.product-name { font-size:12px; font-weight:bold; color:#333;
  a { color:#333; text-decoration:underline; }
  a:hover { color:#333; text-decoration:none; }
}

/* Product Tags */
.tags-list { margin:5px 0;
  li { display:inline; font-size:12px; }
  li a { text-decoration:none; margin:0 2px 0 0; }
  li a:hover { text-decoration:underline; }
}

/* Advanced Search */
.search-summary { padding:10px 10px 0; margin:10px 0 0; font-size:12px; background:url(../images/bkg_dots.gif) repeat-x 0 0; }
.search-summary li { margin:2px 0; }

/* Sitemap */
.page-sitemap {
  .links { display:block; text-align:right; margin:0 20px -36px 0; }
  .links a { position:relative; }
  .sitemap { padding:0 20px; margin:15px 0; font-size:12px; }
  .sitemap li { margin:3px 0; }
}
/* ======================================================================================= */

/* Invitation page ======================================================================= */
#invitationForm p.required { padding-bottom:20px; }

/* Compare popup ========================================================================= */
.catalog-product-compare-index {
  tr.last a,
  tr.first a { color:#999; }
  tr.last p,
  tr.first p { margin:10px 0; }
  tr.first .product-name a { color:#333; }
}

.disabled { position:relative; z-index:1; }
.disabled:after { content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; z-index:99; background:#fff; opacity:0.2; }

/* MAP Popup============================================================================== */
.cart-msrp-totals { color:red; font-size:12px !important; font-weight:bold; padding:10px 20px 20px; text-align:right; text-transform:uppercase;}
.map-cart-sidebar-total { color:red; display:block; font-size:10px; line-height:14px; font-weight:bold; padding:5px 2px; text-shadow:0 1px 0 #fff; }

.map-popup { background:#fff; border:1px solid #aaa; margin:12px 0 0; position:absolute; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc; text-align:left; width:300px; z-index:100; }
.map-popup-heading { background:#efefef ; border-bottom:1px solid #ccc; padding:5px 30px 5px 10px; width:260px; }
.map-popup-heading h2 { color:#333; font-size:14px; font-weight:bold; margin:0; text-shadow:0 1px 0 #f6f6f6; overflow:hidden; white-space:nowrap; word-wrap:break-word; text-align:left; text-overflow:ellipsis; }
.map-popup-arrow { background:url(../images/map_popup_arrow.gif) no-repeat; position:absolute; left:50%; top:-10px; height:10px; width:19px; }
.map-popup-close { background:url(../images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:6px; right:8px; height:15px; width:15px; text-align:left; text-indent:-9999em; }
.map-popup-content { border-top:1px solid #eee; padding:10px; overflow:hidden; width:280px; }
.map-popup-checkout { display:inline; float:right; text-align:right; }
.map-popup-checkout span { display:block; padding-right:30px; }
.map-popup-checkout .paypal-logo { margin:0 0 5px; }
.map-popup-price .price-box,
.map-popup-price .price-box .special-price { margin:0; padding:0; }
.map-popup-price { margin:5px 0 0; }
.map-popup-text { background:#fefefe; clear:right; line-height:1.5; margin:0 10px; padding:10px 0; text-align:left; word-wrap:break-word; }
.map-popup-only-text { border-top:1px solid #ddd; }
/* ======================================================================================= */
