
/* Pager */
.pager { margin:15px 0; font-size:11px; padding:3px 20px; background:#f5f5f5 url(../images/bkg_pager.gif) repeat-x 0 0; border:1px solid #ddd; color:#333; }
.pager p { margin:0 !important; }
.pager select { padding:0; margin-bottom:1px; }
.pager .amount { float:left; line-height:20px; }
.pager .amount strong { font-weight:normal; }
.pager .limiter { float:right; line-height:20px; }
.pager .pages { margin:0 135px; text-align:center; color:#333; line-height:20px; }
.pager .pages a { color:#8c8c8c; text-decoration:underline; }
.pager .pages a:hover { color:#8c8c8c; text-decoration:none; }
.pager .pages ol,
.pager .pages li { display:inline; padding:0 2px; }
.pager .pages .current { font-weight:bold; }
.pager .pages .i-previous,
.pager .pages .i-next { text-decoration:none !important; vertical-align:middle; }
.pager-only { clear:both; }
.pager-only .pages { margin:0; }

/* Sorter */
.sorter { font-size:11px; margin:0 0 0; padding:3px 20px; background:#f5f5f5 url(../images/bkg_pager.gif) repeat-x 0 0; border-top:1px solid #ddd; color:#333; }
.sorter p { margin:0; }
.sorter select { padding:0; margin-bottom:1px; }
.sorter .view-mode { float:left; line-height:20px; white-space:nowrap; }
.sorter .view-mode label { float:left; margin:0 5px 0 0; }
.sorter .view-mode a.list-fix,
.sorter .view-mode a.list,
.sorter .view-mode strong.list-fix,
.sorter .view-mode strong.list,
.sorter .view-mode a.grid-fix,
.sorter .view-mode a.grid,
.sorter .view-mode strong.grid-fix,
.sorter .view-mode strong.grid { background:url(../images/bkg_viewmode.gif) no-repeat 0 0; float:left; width:24px; height:17px; text-align:left; text-indent:-999em; overflow:hidden; margin:2px 0 0; }
.sorter .view-mode a.list { background-position:-24px 0; }
.sorter .view-mode strong.list { background-position:-24px -29px; }
.sorter .view-mode a.grid { background-position:0 0; }
.sorter .view-mode strong.grid { background-position:0 -29px; }

.sorter .view-mode a.list-fix { background-position:0 -58px; }
.sorter .view-mode strong.list-fix { background-position:0 -87px; }
.sorter .view-mode a.grid-fix { background-position:-24px -58px; }
.sorter .view-mode strong.grid-fix { background-position:-24px -87px;; }

.sorter .sort-by { float:right; line-height:20px; }
.sorter .link-feed {}

/* Toolbar */
.toolbar { margin-top:-1px; }
.toolbar .pager { margin:0 0 0; border-width:1px 0; }
.toolbar-bottom { /*display:none;*/ }
