
/* Page Heading */
.page-title { margin-bottom:20px; padding:23px 20px 11px; background:#f6f6f6 url(../images/bkg_page-title.gif) repeat-x 0 0; border-bottom:1px solid #cfcfcf;
  .link-rss { float:right; margin-top:8px; }
  h1,
  h2 { font: $pageTitleFont; color: $pageTitleColor; }
}

.title-buttons { text-align:right;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { float:left; }
  .link-print { float:right; margin-top:4px; }
}

.subtitle { clear:both; padding:10px 0; font-size:18px; color:#d12c01; }

.page-popup .page-title,
.col-main .page-title { margin-left:-20px; margin-right:-20px; }
.col1-layout .col-main .page-title { margin-top:-20px; }

.sub-title { font-size:16px; font-weight:normal; color:#000; line-height:19px; margin:0 0 10px; }
.sub-title .separator { font-weight:normal; }
.sub-title a { font-size:11px; font-weight:normal; text-transform:lowercase; }
.section-title { font-size:14px; font-weight:normal; color:#151515; margin:0 0 5px; }
