body {
  > footer { min-height: 100px; }
  > address.copyright { color: #fff; line-height: 18px; padding: 15px;
    .logo { float: left; margin: 0 10px 0 0; }
  }
  > footer {
    ul { line-height: 27px; padding: 10px 15px 0; overflow: hidden; }
    ul + ul { padding: 0 15px 10px; }
    ul li { box-sizing: border-box; float: left; width: 50%; }
    ul li a { color: #fff; display: inline-block; padding: 2px; }
  }
}

.form-subscribe { padding: 10px 15px;
  .form-subscribe-header { margin: 0 0 5px; padding-left: 12px; }
  .v-fix { display: inline-block; vertical-align: top; width: 60%; }
  .v-fix input { border-radius: 15px; border-color: #ccc; font-size: 18px; padding: 5px 10px; }
  .validation-advice { padding: 10px 0 0 12px; width: 150%; }
  button { border: none; @include border-radius(20px); @include appearance(none); color: #fff; font-size: 18px; padding: 5px 10px; vertical-align: top; width: 35%; }
}
