body > header {
  background: url(../images/bg_gradient.png) repeat-x 0 0; /* Theme color1 */
  box-sizing: border-box;
  display: table;
  position: relative;
  width: 100%;
  height: 45px;
  z-index: 102;
  -webkit-user-select: none;
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

body > header.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.global-site-notice { -webkit-transform: translate3d(0, 0, 1px); }

.cart-empty { padding: 15px; }

.header-bg {
  background: url(../images/custom/bg_header.png) no-repeat center #fff;
  height: 45px;
  -webkit-user-select: none;
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.header-bg .header-logo { background: url(../images/custom/bg_logo.png) no-repeat 0 0; display: block; height: 45px; position: absolute; width: 100%; }

body > header {
  .menu-wrapper { display: table; width: 100%; vertical-align: bottom; }
  dl { display: table-cell; min-width: 100px; width: 100px; vertical-align: top; }
  dt,
  dd { display: block; }
  dt { background: url(../images/bg_divider.png) no-repeat right; float: left; padding: 0 1px 0 0; height: 45px; text-indent: -100%; width: 49px; }
  dd { position: absolute; top: 0; left: 0; padding: 10px; white-space: normal; margin-top: 44px; visibility: hidden; @include box-sizing(border-box); -webkit-transition: -webkit-transform 250ms ease-out; }
}

@media all and (-webkit-transform-3d) {
  body > header dd { -webkit-transform: translate3d(0, -100%, -1px); }
}

body > header .search { display: table-cell; padding: 5px 15px; vertical-align: middle;
  input { background: url(../images/i_search.png) no-repeat 8px 6px #fff; border: none; color: #949494; outline: none; font-size: 18px; line-height: 1; margin: 0; padding: 4px 5px 4px 30px; width: 100%; @include border-radius(15px); @include box-sizing(border-box); @include appearance(none); @include box-shadow(inset 0 1px 1px #555); }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search-autocomplete { background: #333;
  li { color: #fff; font-size: 14px; padding: 5px; }
  li + li { border-bottom: 1px solid #999; }
  .amount { background: #fff; border-radius: 15px; color: #111; display: inline-block; font-size: 8px; margin-right: 10px; padding: 0 5px; vertical-align: middle; }
}

body > header {
  dt a { }

  dt.cart-icon { position: relative; white-space: nowrap; overflow: hidden; }
  dt.cart-icon > a { background: url(../images/i_cart.png) no-repeat center; display: block; height: 45px; }

  dt.menu > a { background: url(../images/i_menu.png) no-repeat center; display: block; height: 45px; position: relative; }

  dt.cart-icon.active > a,
  dt.menu.active > a { background-color: rgba(0, 0, 0, .10); }

  dt.cart-icon > span:nth-child(2),
  .badge { background: none; display: inline-block; color: #fff; height: auto; font-size: 12px; font-weight: bold; line-height: 14px; position: absolute; text-indent: 0; right: 4px; top: 4px; z-index: 100; text-shadow: 0 1px 0 #444; }
  dt.menu .badge { top: 1px; right: 5px; }

  dd.menu-box { padding: 0; -webkit-transition: -webkit-transfrom 300ms linear; @include box-shadow(3px 3px 3px rgba(0, 0, 0, .2));
    a, strong { background-color: rgba(255, 255, 255, .92) !important; color: #444444; font-size: 18px; padding: 10px; display: block; }
    .compare-clear { float: right; line-height: 18px; }
    .badge { color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); background: transparent; border: 1px solid #ccc; font-weight: normal; font-size: 10px; line-height: 10px; padding: 0 3px 2px; text-align: right; top: -5px; left: 0; position: relative; @include box-shadow(0 3px 3px rgba(0, 0, 0, 0.5), inset 0 3px 3px rgba(255, 255, 255, 0.35)); }
    .welcome-msg { background: url(../images/bg_drop.jpg) repeat-x 0 0; border-bottom: 2px solid #585858; font-weight: bold; padding: 10px; text-shadow: 0 -1px 0 #000; @include box-shadow(inset 0 -2px 2px rgba(0, 0, 0, 0.35)); }
    .welcome-msg a { color: #fb6b36; background: none; border: none; padding: 0; display: inline; }
    ol { background: #fff; box-shadow: inset 0 0 3px #000; list-style: none; margin: 5px; padding: 5px; @include box-shadow(inset 0 0 3px #000);
      li a { background: transparent; border-bottom: 1px solid #eee; color: #111; padding: 5px 5px 5px 20px; }
      li:last-child a { border: none; }
      li.selected { font-weight: bold; }
      li.selected a { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAYAAABv7tTEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RjdEODVBMkI5Mzc4MTFFMEE2MDE5MzgwM0I5RkE1QjIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RjdEODVBMkM5Mzc4MTFFMEE2MDE5MzgwM0I5RkE1QjIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGN0Q4NUEyOTkzNzgxMUUwQTYwMTkzODAzQjlGQTVCMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGN0Q4NUEyQTkzNzgxMUUwQTYwMTkzODAzQjlGQTVCMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnMJ/AIAAABLSURBVHjaYmAgHgQAsQAJ6hkSgPg/EJ8nViNMAwwHwCQUiNSQgC6RQKwGEHiPRQKvBhAwQNM4n5AGXBoJasClMYHY+IBpxKsBIMAAi14oP6lEWTAAAAAASUVORK5CYII=) no-repeat left; }
    }
  }

}
