/* Top Shopping Cart */
.top-cart { float: right; /* width:360px; */ position: relative; padding-left: 7px;
  .block-title { white-space: nowrap; /* _width:242px; min-width:242px; */ cursor: pointer; background: #fff url(../images/bkg_topcart.gif) 0 3px no-repeat; color: #1e75b4; font-weight: bold; font-size: 11px; text-transform: uppercase; padding: 0 0 0 18px; line-height: 18px; height: 18px;
    strong { display: block; padding-right: 10px; background: url(../images/bkg_header-panel.gif) 100% -71px no-repeat; font-size: 11px; color: #1e75b4; font-weight: bold; text-decoration: none; }
    &.expanded { background-position: 0 3px !important; }
    &.expanded strong { background-position: 100% -126px !important; color: #d33911; }
  }
  .no-items { cursor: default;
    h3 { background: none; }
  }
  .block-content { position: absolute; right: 0; top: 20px; width: 267px; background: #fdfdfd; }
  .inner-wrapper { border: 1px solid #c1c1c1; }
  .block-content .block-subtitle { font-size: 10px; color: #d12c01; font-weight: bold; text-transform: uppercase; background: url(../images/bkg_header-panel.gif) repeat-x 0 -8px; line-height: 12px; padding: 3px 10px 4px; }
  .block-content .block-subtitle .close-btn { float: right; width: 13px; height: 0; padding-top: 12px; text-align: left; overflow: hidden; cursor: pointer; background: url(../images/bkg_close.gif) no-repeat 0 0; position: relative; z-index: 1; }
  .cart-empty .close-btn { float: right; width: 13px; height: 0; padding-top: 12px; text-align: left; overflow: hidden; cursor: pointer; background: url(../images/bkg_close.gif) no-repeat 0 0; position: relative; z-index: 1; }
  .cart-empty { padding: 10px 10px 10px 20px; }
  .block-content {
    ol { padding-bottom: 7px; }
    .item { padding: 8px 5px 8px 11px;
      .product-name { font-size: 11px; line-height: 14px; }
      .product-name a { font-size: 11px; text-decoration: none; color: #444; }
    }
    table { margin: 5px 0 0 0;
      th { padding: 1px 8px; color: #8f8f8f; text-align: right; }
      td { text-align: left; padding: 1px 0; }
    }
    .subtotal { background: #fff url(../images/bkg_dots.gif) repeat-x 0 0; padding: 2px 5px; text-align: center; }
  }
  .actions { background: #e3e3e3 url(../images/bkg_dots.gif) repeat-x 0 -1px; text-align: center; padding: 5px 11px; text-align: right;
    a { float: left; line-height: 23px; }
    button { float: none; }
    button.button span,
    button.button span span { background-image: url(../images/bkg_btn-onbg.gif); background-repeat: no-repeat; }
  }
  .paypal-logo {
    a { float: right; }
    .paypal-or { clear: both; display: block; margin: 5px 33px 5px 0px; }
  }
}

// cart page =========================================== //
.checkout-cart-index .col-main { padding: 0;
  .page-title { margin: 0; }
}

.cart-empty { padding: 20px; background: #fff; }

.cart { background: url(../images/bkg_cart.gif) repeat-y 100% 0;
  .title-buttons { padding-right: 15px; }
  .messages,
  .messages li { margin: 0; }
  .checkout-types { float: right; text-align: center;
    .paypal-or { margin: 0 8px; line-height: 2.3; }
    fieldset { display: inline; }
    .btn-proceed-checkout span { background-image: url(../images/bkg_btn-co.gif); height: 27px !important; padding: 0 0 0 13px !important;
      span { border: 0; background-image: url(../images/bkg_btn-co.gif); padding: 1px 32px 0 19px !important; color: #fff; font: bold 15px/26px Arial, Helvetica, sans-serif !important; height: 26px; text-transform: none; margin: 0 !important; }
    }
  }
  .title-buttons .checkout-types li { float: left; margin: 0 0 5px 5px; }
}

/* Shopping Cart Table */
.cart-table { border-width: 1px 0; background-color: #ffffff;
  .item-msg { font-size: 10px; }
  thead th { vertical-align: bottom; }
  tbody td { padding: 12px; }
  .btn-continue { float: left; background: none; border: none;
    span { background: none; border: none; text-transform: none; color: #444; text-decoration: underline; font-weight: normal; padding: 0; }
  }
  .btn-update { float: right; margin-left: 5px; }
  .btn-empty { float: right; }
}

/* Shopping Cart Collateral boxes */
.cart {
  .cart-collaterals { width: 630px; padding: 20px 0 10px;
    h2 { color: #000; font-weight: normal; margin: 0 0 5px; }
  }
  .cross-inside { background: url(../images/bkg_crosssell.gif) repeat-y 0 0; }
  .deals { float: left; width: 280px; display: inline; margin: 0 0 0 30px; font-size: 12px;
    p,
    label { margin: 0 0 7px; display: block; }
    .input-text { width: 140px; margin: 0 5px 3px 0; float: left; }
    .widget-sku { display: block; margin: 0 0 20px; width: 264px;
      .block-title { background: inherit; border: inherit; color: #000; font-size: 16px; margin: 0 0 5px; padding: 0;
        strong { font-weight: normal; }
      }
      .block-content { padding: 0; }
      .sku-table td input { width: 98%; }
    }
  }
  .giftcard { position: relative; z-index: 1;
    button.check-gc-status { clear: both;
      span { padding: 0 !important; background: none !important; line-height: 1.3 !important; color: #444 !important; height: auto !important; font-weight: normal !important; text-transform: none !important; }
      span span { text-decoration: underline; font-size: 12px !important; }
    }
  }
  .giftcard,
  .discount { margin: 0 0 20px 0; }
  .cancel-btn { margin: 5px 30px 0 0; clear: left; }
  .shipping { float: left; margin: 0 0 0 30px; display: inline; font-size: 12px; width: 280px;
    select { width: 256px; }
    .input-text { width: 250px; }
    p { margin: 0 0 15px; }
    .buttons-set { width: 256px; }
    .form-list {
      label { float: none; width: auto; text-align: left; padding: 0; }
      .input-text,
      select { display: block; float: none; }
    }
  }
}

.cart .crosssell { float: left; min-height: 400px; width: 260px; padding: 0 20px 15px 30px; border: 1px solid #d9d9d9; border-width: 0 1px 0 0; background: #fbf3f0;
  h2 { font-size: 11px; color: #cd3800; font-weight: bold; text-transform: uppercase; }
  .item { padding: 17px 0 0; }
  .product-image { float: left; margin: 3px -90px 0 0; }
  .product-shop { margin-left: 90px; }
  .product-name,
  .price-box,
  p,
  .add-to-links { margin: 0 0 5px; }
  .add-to-links li { margin: 0; }
}

/* Shopping Cart Totals */
.cart .totals { float: right; width: 275px; padding: 23px 15px 0 15px; font-size: 14px;
  table { width: 100%;
    th,
    td { padding: 0 5px 5px; }
    tfoot {
      strong { font-weight: normal; font-size: 18px; color: #cd3800; display: block; margin: 10px 0 15px; }
      .summary-total td { padding: 0 0 20px; }
      th strong { margin: 0; }
      td .price { font-weight: bold; }
    }
  }
  .btn-remove { vertical-align: middle;
    img { vertical-align: baseline; }
  }
  .checkout-types {
    li { margin: 0 0 15px; }
    .paypal-or { clear: both; display: block; padding-top: 8px; line-height: 1.0; font-size: 11px; }
  }
}

.failed-products { border: 1px solid #E9581F;
  .sub-title { background: #FFF5F3 url(../images/icon_error.gif) no-repeat 10px 50%; color: #D91A00; margin: 0; padding: 10px 10px 10px 30px; border-bottom: 1px solid #E9581F; }
  .item-msg.error { background: url(../images/icon_error.gif) no-repeat left; font-size: 11px; color: #D91A00; padding: 5px 0 5px 20px; }
}

/* Empty Cart Add by SKU */

.cart-empty .failed-products { clear: both; z-index: 1; position: relative; margin: 40px -20px -21px; }

/* Options Tool Tip */
.item-options {
  p { font-size: 11px; font-weight: bold; text-transform: uppercase; padding: 10px 12px 0 12px; }
  dt { font-weight: bold; padding: 7px 0 7px; }
  dd { padding-bottom: 5px; }
}

.truncated { cursor: help; margin: 5px 0 0; position: relative; z-index: 1; width: 110px;
  &:hover, &:focus { z-index: 2; }
  a.dots { cursor: help; }
  a.details { cursor: help; text-decoration: none; background: url(../images/bkg_dots.gif) repeat-x 0 100%; color: #514f4f; }
  .truncated_full_value {
    .item-options { position: absolute; top: -99999em; left: -99999em; z-index: 999; padding: 0; width: 190px; border: 1px solid #c8c8c8; border-bottom: 1px solid #919191; background-color: #fff; }
    .item-options dl { margin-right: -9px; position: relative; z-index: 9999; padding: 0px 21px 10px 12px; background: url(../images/bkg_truncated.gif) no-repeat 100% 38px; }
  }
  .show .item-options { top: -20px; left: 50%; }
}

.col-left .truncated .show .item-options { left: 30px; top: 7px; }

.col-right .truncated .show .item-options { left: -240px; top: 7px; }

.top-cart .truncated .show .item-options { top: -60px; left: -206px; }

.block-cart .truncated .show .item-options { top: -60px; left: -206px; }

/* Item options in the cart */
.data-table .item-options {
  dt { padding: 3px 0 0 10px; background: url(../images/bkg_bulletsm.gif) 0 .8em no-repeat; }
  dd { padding: 0 0 3px 10px; }
  dd .price { font-weight: bold; margin-left: 5px; }
}