.cms-home,
.cms-index-index {
  .col1-layout { border: 0;
    .col-main { padding: 0; }
    .category-view { margin: 0 0 20px; }
    .page-title { margin: 3px 0 0; }
    .products-grid { margin: 0; border: 1px solid #cbc0b2; padding-top: 20px; padding-bottom: 20px; }
    .products-list { margin: 0; border: 1px solid #cbc0b2; padding-top: 20px; }
  }
  .top-callout { margin-bottom: 6px; }
}

.cms-home .col2-set,
.cms-index-index .col2-set {
  .col-1 { width: 705px; }
  .col-2 { width: 244px; border: 1px solid #d9d7ca; border-left: 0; margin-left: -244px;
    img { display: block; margin: 6px auto; }
  }
}

.cms-hp-touchsmart-iq506-has-arrived {
  .col-main { padding: 0; }
  .main { margin-top: 0; }
  .breadcrumbs { display: none; }
}

.new-product-spotlight { border: 1px solid #cfcfcf; border-top: 0; background: url(../images/callouts/electronics/new_computer_bg.jpg) no-repeat; height: 519px; position: relative;
  .link { position: absolute; top: 95px; left: 318px; }
  .more-new-positioning { position: absolute; top: 42px; right: 70px; width: 207px;
    h3 { margin-bottom: 5px; font-size: 11px; text-transform: uppercase; font-weight: bold; }
  }
  .more-new { position: relative; height: 335px;
    .arrow-up { position: absolute; top: 0; left: 0; height: 20px; width: 207px; background: url(../images/callouts/electronics/more_new_arrow.gif) no-repeat; text-indent: -999em; }
    .arrow-down { position: absolute; bottom: 0; left: 0; height: 20px; width: 207px; background: url(../images/callouts/electronics/more_new_arrow.gif) no-repeat 0 100%; text-indent: -999em; }
    .content { position: absolute; top: 20px; left: 0; width: 205px; height: 295px; border-width: 0 1px; border-style: solid; border-color: #dcdcdc; background: #fff; }
    ol { margin: 10px 15px; padding-left: 0; list-style-type: none; }
    .item { padding: 10px 0 10px 85px; border-bottom: 1px solid #d2d2d2; }
    .item.top { padding-top: 0; }
    .item.last { border-bottom: 0; padding-bottom: 0; }
    .item img { float: left; margin-left: -85px; position: relative; }
    a { font-weight: bold; }
  }
}

.cms-menu { padding: 15px; border-bottom: 1px solid #d1d1d1; background: #fff url(../images/bkg_cms-menu.gif) 0 0 repeat-x; font-size: 12px; list-style-position: inside; }

.col-main .cms-menu { float: left; width: 240px; border: 1px solid #d1d1d1; margin: 0 10px 5px 0; }

.cms-menu {
  li { color: #999; margin: 3px 0; }
  li span { color: #444; }
  li.parent > a,
  li.parent > strong { background: url(../images/bkg_cms-menu-arrow-down.gif) 100% 50% no-repeat; padding-right: 13px; }
  li strong { font-size: 13px; font-weight: bold; color: #333; }
  li ul,
  li ol { padding-left: 15px; margin-bottom: 7px; list-style-position: inside; }
}

/* CMS Menu Types */
ol.cms-menu {
  &.type-1 { list-style-type: decimal; }
  &.type-1 ol { list-style-type: decimal; }
  &.type-a { list-style-type: lower-alpha; }
  &.type-a ol { list-style-type: lower-alpha; }
  &.type-A { list-style-type: upper-alpha; }
  &.type-A ol { list-style-type: upper-alpha; }
  &.type-i { list-style-type: lower-roman; }
  &.type-i ol { list-style-type: lower-roman; }
  &.type-I { list-style-type: upper-roman; }
  &.type-I ol { list-style-type: upper-roman; }
}

ul.cms-menu {
  &.type-circle { list-style-type: circle; }
  &.type-circle ul { list-style-type: circle; }
  &.type-disc { list-style-type: disc; }
  &.type-disc ul { list-style-type: disc; }
  &.type-square { list-style-type: square; }
  &.type-square ul { list-style-type: square; }
}

/* Some sample data cms styles ================================================================================ */
.page-head,
.page-head-alt { margin-bottom: 20px; padding: 23px 20px 11px; background: #f6f6f6 url(../images/bkg_page-title.gif) repeat-x 0 0; border-bottom: 1px solid #cfcfcf; }

.col-main {
  .page-head,
  .page-head-alt { margin: 0 -20px 20px; }
}

.page-head-alt .link-rss { float: right; margin-top: 8px; }

.page-head
.page-head-alt {
  h3, h2 { font: normal 22px/27px Arial, Helvetica, sans-serif; color: #d12c01; }
}

/* Restricted ================================================================================ */
.restriction-index-stub {
  .page { width: 652px; padding-bottom: 3px; }
  .main { margin-top: 100px; min-height: 0; height: auto !important; padding: 13px; text-align: center; margin-bottom: 0; }
  .col-main { color: #dedede; height: auto !important; min-height: 230px; height: 230px; font-size: 16px; background: #4a4a4a url(../images/logo-offline.gif) no-repeat 50% 95px; padding: 170px 60px 40px; }
  .page-title { margin: 0 0 15px !important; padding: 0 !important; border: 0 !important; background: none; }
  .col-main h1,
  .col-main h2 { font: italic 35px Georgia, "Times New Roman", Times, serif; color: #fff; }
  .header-container,
  .footer-container { display: none; }
  .copyright { background: url(../images/bkg_shadow-offline.gif) 50% 0 no-repeat; padding: 15px 0 0; margin: 0; }
}

/* Old private sales index ================================================================================ */
.private-sales-index { background: #2b2b2b; margin: 110px 0 60px; padding: 40px 0;
  .box { border: 1px solid #e2ded0; background: #fff url(../images/bkg_ps.gif) no-repeat 50% 13px; padding: 50px 13px 0; width: 657px; margin: 0 auto;
    .content { padding: 0 60px 70px; background: url(../images/bkg_ps.gif) no-repeat 50% 100%; font-size: 14px;
      p { text-align: center; }
      a { color: #444444; }
      h1 { background: url(../images/bkg_ps-logo.gif) no-repeat 50% 0; padding: 60px 0 5px; font-size: 29px; font-weight: normal; color: #ec4e00; }
      .description { background: url(../images/bkg_ps-descr.gif) no-repeat 50% 0; margin: 40px auto 0; width: 433px; padding: 30px 50px 30px; font: normal 20px Georgia, "Times New Roman", Times, serif; font-style: italic; color: #817268; }
    }
  }
}

.col1-layout .private-sales-index { margin: 0 -20px -31px; height: auto !important; height: 350px; min-height: 350px; }

//Private sales index ================================================================================
.private-sales-index { background: #fffdf9 url(../images/bkg_ps-home.jpg) no-repeat 50% 88px; padding-top: 90px;
  .box {
    .content {
      p { padding-top: 475px; text-align: center; color: #444444; font-size: 18px; }
      a { color: #c12900; }
      h1 { display: none; }
      .description { display: none; }
    }
  }
}

.col1-layout .private-sales-index { margin: 0 -20px -31px; background-position: 0 20px; padding-top: 20px; height: auto !important; height: 550px; min-height: 550px; }

/* Private sales demo ==================================================================== */
.cms-private-sales-home { background-color: #fffdf9; }

.private-sales-demo { background: #fffdf9 url(../images/bkg_ps-home.jpg) no-repeat 50% 88px; padding-top: 90px;
  h1 { display: none; }
  p { padding-top: 475px; text-align: center; color: #444444; font-size: 18px; }
  a { color: #c12900; }
}

.col1-layout .private-sales-demo { margin: 0 -20px -31px; background-position: 0 20px; padding-top: 20px; height: auto !important; height: 550px; min-height: 550px; }
