
.border-box {
  @include box-sizing(border-box);
}

.shadow-black {
  @include box-shadow(5px 5px 5px #6d6b6b);
}

.shadow-abc {

}

.text-shadow-black {
  @include text-shadow(1px 1px 0 #6d6b6b);
}

.text-shadow-abc {

}

.clearfix:after {
  display:block;
  content:".";
  clear:both;
  font-size:0;
  line-height:0;
  height:0;
  overflow:hidden;
  zoom: 1;
}

.font-style-01 {
  font: normal 12px/14px helvetica-regular;
  color: #000;
}

.font-style-abc {

}
.style-01 {
  color: #fff;
  background: #888;
  border: 1px solid #000;
}

.style-02 {
  color: #000;
  background: #ccc;
  border: 1px solid #888;
}

.style-abc {

}
